<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.pdm.inlibras">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_inlibras"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.edu.pdm.inlibras.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity_" />
        <activity
            android:name="br.edu.pdm.inlibras.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CadastroActivity_" />

        <activity android:name=".LibrasActivity_" />
        <activity android:name=".SobreActivity_" />
        <activity android:name=".MeusDadosActivity_" />
        <activity android:name="br.edu.pdm.inlibras.CriancasActivity" />
        <activity android:name="br.edu.pdm.inlibras.PaisActivity"></activity>
    </application>

</manifest>